<div class="grid-container" *ngIf="!showSpinner">
  <div *ngFor="let pokemon of pokemons" class="grid-item">
    <div [routerLink]="['/pokemon', pokemon.id]" class="pokemon-section">
      <img [src]="pokemon.image" alt="{{ pokemon.name }}">
      <p>{{ pokemon?.name ? (pokemon?.name | titlecase) : '-' }}</p>
    </div>
  </div>
</div>
<div class="spinner-section" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
  
<mat-paginator [length]="totalPokemons"
  [pageSize]="pageSize" [showFirstLastButtons]="true"
  (page)="handlePageEvent($event)">
</mat-paginator>
  
  