.pokemon-name-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.back-page {
    cursor: pointer;
}

.details-section {
    margin-top: 3vh;
}

.spinner-section {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep .mat-spinner circle {
      stroke: #0075BE !important;
    }
}